# DataFrame Essential Methods


### Objectives
* Select columns based on data type
* Arithmetic operators
* Summary statistic methods


# Arithmetic Operators on DataFrames
Most of the arithmetic operators correctly execute when the columns in the DataFrame are all numeric. Let's read in the movie dataset and select only the numeric columns.

In [7]:
import pandas as pd

In [2]:
movie = pd.read_csv('data/movie.csv', index_col='movie_title')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

### Use `select_dtypes`

In [3]:
movie_number = movie.select_dtypes(include='number')
movie_number.head()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,
Avatar,723.0,178.0,0.0,855.0,1000.0,760505847.0,886204,4834,0.0,3054.0,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,302.0,169.0,563.0,1000.0,40000.0,309404152.0,471220,48350,0.0,1238.0,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,602.0,148.0,0.0,161.0,11000.0,200074175.0,275868,11700,1.0,994.0,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,1144337,106759,0.0,2701.0,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,NaN,131.0,NaN,131.0,NaN,8,143,0.0,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
movie_str = movie.select_dtypes(include='object')
movie_str.head()

,color,director_name,actor_2_name,genres,actor_1_name,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
movie_title,,,,,,,,,,,
Avatar,Color,James Cameron,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Wes Studi,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,USA,PG-13
Spectre,Color,Sam Mendes,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,UK,PG-13
The Dark Knight Rises,Color,Christopher Nolan,Christian Bale,Action|Thriller,Tom Hardy,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,English,USA,PG-13
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,Rob Walker,Documentary,Doug Walker,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN

# Arithmetic operators
All the arithmetic operators will work now that we have an all numeric DataFrame

In [ ]:
(movie_number + 10).head()

# Statistical Summary methods

#### Basic
* `min, max, median, mean, mode, sum, var, std, corr, cov`

#### Accumulation
* `cumsum, cummin, cummax`

These methods can be applied vertically or horizontally. For example, we can find the `min` by row or by column

# Use `axis='index'` or `axis='columns'`
Nearly all DataFrame methods have an **`axis`** parameter, which determines the direction of the operation. The **`axis`** parameter can take on two values ('index' or 'columns')


* **`axis='index'`** - The operation will happen down the columns.
* **`axis='columns'`** - The operation will happen across the rows

![][1]

[1]: images/axis.png

You can use 0 instead of `index` and 1 instead of `columns` but I prefer to use the words as it is more explicit

In [5]:
# sum each column
movie_number.sum(axis='index') # this is the default so we don't actually need to specify here

num_critic_for_reviews       6.715920e+05
duration                     5.248520e+05
director_facebook_likes      3.326544e+06
actor_3_facebook_likes       3.088835e+06
actor_1_facebook_likes       3.188144e+07
gross                        1.931509e+11
num_voted_users              4.062825e+08
cast_total_facebook_likes    4.709438e+07
facenumber_in_poster         6.753000e+03
num_user_for_reviews         1.310239e+06
budget                       1.619785e+11
title_year                   9.631773e+06
actor_2_facebook_likes       7.952291e+06
imdb_score                   3.164640e+04
aspect_ratio                 1.020058e+04
movie_facebook_likes         3.612421e+07
dtype: float64

In [6]:
# sum across each row
movie_number.sum(axis='columns')

movie_title
Avatar                                         9.984386e+08
Pirates of the Caribbean: At World's End       6.099740e+08
Spectre                                        4.454621e+08
The Dark Knight Rises                          6.996464e+08
Star Wars: Episode VII - The Force Awakens     4.321000e+02
John Carter                                    3.370024e+08
Spider-Man 3                                   5.950029e+08
Tangled                                        4.611376e+08
Avengers: Age of Ultron                        7.097342e+08
Harry Potter and the Half-Blood Prince         5.523973e+08
Batman v Superman: Dawn of Justice             5.808691e+08
Superman Returns                               4.093737e+08
Quantum of Solace                              3.687067e+08
Pirates of the Caribbean: Dead Man's Chest     6.486590e+08
The Lone Ranger                                3.046124e+08
Man of Steel                                   5.167328e+08
The Chronicles of Narnia: Prince Caspian       3.668120e+08
The Avengers                                   8.445563e+08
Pirates of the Caribbean: On Stranger Tides    4.916020e+08
Men in Black 3                                 4.043562e+08
The Hobbit: The Battle of the Five Armies      5.055469e+08
The Amazing Spider-Man                         4.925974e+08
Robin Hood                                     3.054573e+08
The Hobbit: The Desolation of Smaug            4.839415e+08
The Golden Compass                             2.502828e+08
King Kong                                      4.253867e+08
Titanic                                        8.595854e+08
Captain America: Civil War                     6.576616e+08
Battleship                                     2.744747e+08
Jurassic World                                 8.027644e+08
                                                   ...
Manito                                         2.711978e+04
Rampage                                        2.386065e+04
Slacker                                        1.269861e+06
Dutch Kills                                    2.791680e+04
Dry Spell                                      2.609808e+04
Flywheel                                       2.669875e+04
Exeter                                         1.026845e+04
The Ridges                                     2.119800e+04
The Puffy Chair                                2.163346e+05
Stories of Our Lives                           1.754340e+04
Breaking Upwards                               9.737555e+04
All Superheroes Must Die                       2.612735e+04
Pink Flamingos                                 2.110905e+05
Clean                                          1.484832e+05
The Circle                                     6.916283e+05
Tin Can Man                                    1.232103e+04
The Cure                                       1.104261e+06
On the Downlow                                 2.397100e+03
Sanctuary; Quite a Conundrum                   2.048914e+05
Bang                                           4.906400e+03
Primer                                         5.270058e+05
Cavite                                         7.989530e+04
El Mariachi                                    2.102536e+06
The Mongol King                                5.573800e+03
Newlyweds                                      1.880040e+04
Signed Sealed Delivered                        6.539700e+03
The Following                                  1.098145e+05
A Plague So Pleasant                           3.565300e+03
Shanghai Calling                               1.904665e+04
My Date with Drew                              9.359645e+04
Length: 4916, dtype: float64

# Your Turn

### Problem 1
<span  style="color:green; font-size:16px">Read in the college dataset and put the column **`INSTNM`** in the index. Also read in the college data dictionary and output it. We will use this dataset for the rest of the problems</span>

In [9]:
# your code here
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

### Problem 2
<span  style="color:green; font-size:16px">Select the 2 SAT columns and assign them into its own variable called **`sat`**. Find the max SAT score per college and max math and verbal scores.</span>

In [33]:
# your code here
SAT=college[['SATVRMID','SATMTMID']]

SAT.max(axis=0)

SATVRMID    765.0
SATMTMID    785.0
dtype: float64

### Problem 3
<span  style="color:green; font-size:16px">There are a lot of missing SAT scores. Use the `isna` method to turn all the values to True/False and find the percentage of schools that have missing scores. </span>

In [31]:
SAT.isna().mean()

SATVRMID    0.842734
SATMTMID    0.841274
dtype: float64

# Solutions

### Problem 1
<span  style="color:green; font-size:16px">Read in the college dataset and put the column **`INSTNM`** in the index. Also read in the college data dictionary and output it. We will use this dataset for the rest of the problems</span>

In [ ]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college.head()

In [ ]:
college_dd = pd.read_csv('data/college_data_dictionary.csv')
college_dd

### Problem 2
<span  style="color:green; font-size:16px">Select the 2 SAT columns and put them into its own variable. Find the max SAT score per college and max math and verbal scores.</span>

In [27]:
sat = college[['SATMTMID', 'SATVRMID']]
sat.head()

                                     SATMTMID  SATVRMID
INSTNM
Alabama A & M University                420.0     424.0
University of Alabama at Birmingham     565.0     570.0
Amridge University                        NaN       NaN
University of Alabama in Huntsville     590.0     595.0
Alabama State University                430.0     425.0

In [28]:
sat.max()

SATMTMID    785.0
SATVRMID    765.0
dtype: float64

In [29]:
sat.max(axis='columns').head(10)

INSTNM
Alabama A & M University               424.0
University of Alabama at Birmingham    570.0
Amridge University                       NaN
University of Alabama in Huntsville    595.0
Alabama State University               430.0
The University of Alabama              565.0
Central Alabama Community College        NaN
Athens State University                  NaN
Auburn University at Montgomery        509.0
Auburn University                      588.0
dtype: float64

### Problem 3
<span  style="color:green; font-size:16px">There are a lot of missing SAT scores. Use the `isna` method to turn all the values to True/False and find the percentage of schools that have missing scores. </span>

In [ ]:
sat.isna().head()

In [ ]:
sat.isna().mean()